dallinger[docker] @ git+https://github.com/Dallinger/Dallinger.git@v12.4.0
psynet[experiment] @ git+https://gitlab.com/PsyNetDev/PsyNet.git@71bc27555e9237043925d39ff701149fa70cde94
praat-parselmouth
scipy
